---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: task-lint
        name: task lint
        entry: task lint
        language: system
        pass_filenames: false
  - repo: https://github.com/google/yamlfmt
    rev: v0.18.1
    hooks:
      - id: yamlfmt
