audioread==3.0.0
certifi==2022.12.7
cffi==1.15.1.post3+dr
charset-normalizer==3.1.0
contextlib2==21.6.0
contourpy==1.0.7
cycler==0.11.0
datarobot==3.1.0
decorator==5.1.1
fonttools==4.39.0
idna==3.4
importlib-resources==5.12.0
joblib==1.2.0
kiwisolver==1.4.4
lazy_loader==0.1
librosa==0.10.0
llvmlite==0.39.1
matplotlib==3.7.1
msgpack==1.0.5
numba==0.56.4
numpy==1.23.5
packaging==23.0
pandas==1.5.3
patsy==0.5.3
Pillow==9.4.0.post1+dr
platformdirs==3.1.1
pooch==1.7.0
pycparser==2.21
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.7.1
PyYAML==6.0
quantum-native-bzip2==1.0.8.post5+dr
quantum-native-freetype==2.10.2.post3+dr
quantum-native-libffi==3.4.2.post2+dr
quantum-native-libjpeg==9.3.0.post4+dr
quantum-native-libpng==1.6.37.post2+dr
quantum-native-libtiff==4.1.0.post1+dr
quantum-native-zlib==1.2.12.post2+dr
requests==2.28.2
requests-toolbelt==0.10.1
scikit-learn==1.2.2
scipy==1.10.1
six==1.16.0
soundfile==0.12.1
soxr==0.3.4
statsmodels==0.13.5
threadpoolctl==3.1.0
tqdm==4.65.0
trafaret==2.1.1
typing_extensions==4.3.0
urllib3==1.26.15
zipp==3.15.0
